@use "../variables" as v;

.hero {
    position: relative;
    overflow: hidden;

    @include v.mq(md) {
        height: 32rem;
    }
}

.hero__track {
    display: flex;
    transition: transform 0.4s ease;

    @include v.mq(md) {
        height: 100%;
    }
}

.hero__slide {
    position: relative;
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block: 5rem 6rem;

    @include v.mq(md) {
        padding-block: 0;
    }

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(255, 255, 255, 0.75);
        z-index: -1;
    }
}

.hero__bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;

    .hero & {
        @include v.mq(md) {
            padding-inline: 3rem;
        }
    }

    p{
        max-width: 60ch;
    }

    @include v.mq(md) {
        gap: 2rem;
    }
}

.hero__nav-group {
    display: contents;
}

.hero__nav {
    position: absolute;
    bottom: 1.5rem;
    padding-block: 0.5rem;
    font-size: 2rem;
    line-height: 1;
    color: var(--c-text);
    z-index: 1;

    &:hover {
        color: var(--c-primary);
    }

    @include v.mq(md) {
        top: 50%;
        bottom: auto;
        transform: translateY(-50%);
    }

    &--prev {
        left: 0.5rem;

        @include v.mq(md) {
            left: 1.5rem;
        }
    }

    &--next {
        right: 0.5rem;

        @include v.mq(md) {
            right: 1.5rem;
        }
    }
}

.btn {
    display: inline-block;
    padding: 0.5rem 2rem;
    border-radius: 100px;
    font-size: v.$font-size-small;
    text-transform: uppercase;

    &--outline {
        border: 1px solid var(--c-primary);
        color: var(--c-primary);

        &:hover,
        &:focus-visible {
            background-color: var(--c-primary);
            color: var(--c-bg);
        }
    }

    &--primary {
        border: 1px solid var(--c-primary);
        background-color: var(--c-primary);
        color: var(--c-bg);

        &:hover,
        &:focus-visible {
            background-color: var(--c-primary-dark);
            border-color: var(--c-primary-dark);
        }
    }
}
